html {
    width: 100%;
	left: 0;
	margin: 0;
    padding: 0;
    background-image: url("images/background3_80.10dd8225c946.png");
    background-size:cover;
	font-family: 'droid-sans', arial, sans-seriff;
}

h1 {
 text-align: center;
 font-size: 30px;
 font-family: 'Source Code Pro', monospace;
}

#title {
    font-size: 30px;

    margin: 0 auto;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    margin-bottom: 0;
    width:100%;
}

a {
    font-weight: bold;
}


h2{
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    margin: 5px;

}

table{
    width: 95%;
    margin: 0 auto;
    border: 2px solid rgba(0, 0, 0, 0.219);
    border-collapse: collapse;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
    border-spacing: 0;
}
/*table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}*/

.tableelmt {
    border: 0;
    padding: 0;
}

td {
    border: 1px solid rgba(121, 121, 121, 0.418);
    padding: 8px;
    text-align: center;
}

#progresso {
    padding: 1px;
    width: 60%;
}

th{
    background-color: #dfdfdf;
    border: 1px solid rgba(121, 121, 121, 0.418);
    padding: 8px;
    text-align: left;
    overflow: hidden;
}

p {
    color: black;
    /*text-shadow: 2px 2px 12px white;*/
    font-size: 16px;
}


.botRight {
    bottom: 0;
    right: 10;
}

.botLeft {
    left:10px;
    bottom: 0;
    position: absolute;
}

#return {
    text-align: center;
}

.logo{
    display: inline-block;
    width: 30%;
}

#titlebar {
    width: 70%;
    border: 0;
    margin: 0 auto;
    height: 100px;
    box-shadow: none;
}
a{
    color: black;
    text-decoration: underline;
}
#rulesbox {
    background-color: rgba(255, 255, 255, 0.8   );
    border-radius: 15px;
    width: fit-content;
    width: 60%;
    margin: 0 auto;
    padding: 5px;
}

.hover:hover {
    color: grey;
}

.distancemarker {
    border: none;
}


/* th:hover {
    overflow: visible;
    z-index: 100;
    height: 38px;
} */

progress {
    width: -webkit-calc(100% - 8px);
    width:    -moz-calc(100% - 8px);
    width:         calc(100% - 8px);
    display: block;
    height: 28px;
    margin: 0 auto;
    padding: 4px;
    border: 0 none;
    background: #FFF;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

progress::-moz-progress-bar {
    background: /*#8eff88*/#4fa3db;
    box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3);
}



  progress::-webkit-progress-bar {
      background: transparent;
  }  
  progress::-webkit-progress-value {  
    background: #4fa3db;
    box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3); 
  } 




#test {
    z-index: 2; 
    text-align: center; 
    position: relative;
    font-weight: bold;
    color: #333;
}


.markerspan {
        height: 100%;
        overflow: auto;
        z-index: 2;
        position: relative;
}



[class^=tooltip] {
    position: relative;
  }
  [class^=tooltip]:after {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    content: attr(data-tooltip);
    padding: 6px 10px;
    top: 1.4em;
    left: 50%;
    transform: translateX(-50%) translateY(-2px);
    background: grey;
    color: white;
    white-space: nowrap;
    z-index: 2;
    border-radius: 2px;
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  }
  [class^=tooltip]:hover:after {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
  }
  
  .tooltip--left:after {
    top: -4px;
    left: 0;
    transform: translateX(-112%) translateY(0);
  }
  .tooltip--left:hover:after {
    transform: translateX(-110%) translateY(0);
  }
  
  .tooltip--right:after {
    top: -4px;
    left: 100%;
    transform: translateX(12%) translateY(0);
  }
  .tooltip--right:hover:after {
    transform: translateX(10%) translateY(0);
  }
  
  .tooltip--triangle:before {
    content: "";
    width: 0;
    height: 0;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-bottom: solid 5px grey;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translateX(-50%) translateY(-2px);
    top: 1.1em;
    left: 50%;
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    z-index: 3;
  }
  .tooltip--triangle:hover:before {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
  }
  
  .follow {
    width: 42px;
    height: 42px;
    border-radius: 50px;
    background: #03A9F4;
    display: inline-block;
    margin: 50px calc(50% - 19px);
    white-space: nowrap;
    padding: 13px;
    box-sizing: border-box;
    color: #efefef;
    transition: all 0.2s ease;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
  }