{% load static %}
<head>
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stravaleaderboard/style.css' %}">
</head>

<h1>Rules and information</h1>
<h2>Rules</h2>
    <ul>
        <li>Kilmotres earned by cycling are divided by 3.</li>
        <li>Every week the runners of the winning club enter a raffle to win a "NAME OF SPORTSWACH" with Nordic inside.</li>
    </ul>

<h2>Information about the leaderboard</h2>
<p>Points are based on total kilometres, divided by the amount of employes at each branch.
    Kilometres earned by cycling are divided by 3, to equal the running equivalent.
</p>
<p></p>

<p id="return"><a style="text-decoration: none; color: black;" href="{% url 'index' %}">Return</a></p>