{% load static %}
<head>
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stravaleaderboard/style.css' %}">
    <link rel="icon" 
      type="image/png" 
      href="{% static 'stravaleaderboard/images/SL.png' %}">
</head>
<div id="rulesbox">
<h1>Rules and information</h1>
<h2>Rules</h2>
<p style="text-align: center;">To make the competition fair we have added some rules:</p>
    <ul style="text-align: left;">
        <li>You need a user account on Strava to participate www.strava.com</li>
        <li>You need to join your local club on Strava to participate</li>
        <li>If it is not on Strava, it did not happen</li>
        <li>Cheating is not allowed</li>
        <li>Participating is voluntary, but by joining the club you accept that your results are a part of the competition and will be shared with Omega to be presented as a part of the accumulated total</li>
        <li>You are responsible for your personal settings on the app and what you share with others.</li>
    </ul>
<p style="text-align: center;">Each week the accumulated kilometres for each club will be added up and then divided by the size of the office/location headcount. <br>The club with the highest median will be declared a winner by the competition committee. </p>

<p style="text-align: center;">Running is a high impact & cardio activity and therefore induces more stress than cycling and  fairness we will be using a ratio for cycling due to the amount of kilometres that can be easily covered compared to running and other activities; <b>for each 3km cycled = 1km run.</b></p>
<p style="text-align: center;">Once the winning club has been disclosed the committee will do a random draw between the club participants to select the lucky winner of the weekly prize.</p>
<p><b>Weekly prize: Suunto 9 Barometer sports watch with Nordic inside!</b></p>

<h2>Information about the leaderboard</h2>
<p style="text-align: center;">
    The leaderboard uses Strava's own API to collect the participating clubs activity. <br>No personal data is stored or processed.<br>The weeks end each sunday at 23:59 GMT+1. <br>For questions & sugestions contact <a href="mailto:andrsba@stud.ntnu.no?Subject=Stravaleaderboard" class="hover">andrsba@stud.ntnu.no</a>
</p>
<p></p>

<p id="return"><a  href="{% url 'index' %}" class="hover">Return</a></p>

</div>