{% load static %}
<head>
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stravaleaderboard/style.css' %}">
    <link rel="icon" 
      type="image/png" 
      href="{% static 'stravaleaderboard/images/SL.png' %}">
</head>
<div id="rulesbox">
<h1>Rules and information</h1>
<h2>Rules</h2>
    <ul style="text-align: center;">
        <li>Kilmotres earned by cycling are divided by 3.</li>
        <li>Every week the runners of the winning club enter a raffle to win a "NAME OF SPORTSWACH" with Nordic inside.</li>
        <li>Every kilometre counts! Points are based on each divisions total size, so the smallest contribution counts towards your clubs total!</li>
    </ul>

<h2>Information about the leaderboard</h2>
<p style="text-align: center;">
    The leaderboard uses Strava's own API to collect the participating clubs activity. <br>No personal data is stored or processed.<br>The weeks end each sunday at 23:59 GMT+1. <br>For questions & sugestions contact <a href="mailto:andrsba@stud.ntnu.no?Subject=Stravaleaderboard" class="hover">andrsba@stud.ntnu.no</a>
</p>
<p></p>

<p id="return"><a  href="{% url 'index' %}" class="hover">Return</a></p>

</div>