{% load leaderboard_extras %}
{% load static %}
<head>
    <title>StravaLeaderboard</title><link rel="preconnect" href="{https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <link rel="icon" 
      type="image/png" 
      href="{% static 'stravaleaderboard/images/SL.png' %}">
</head>
<link rel="stylesheet" type="text/css" href="{% static 'stravaleaderboard/style.css' %}">
{% if club_name_list %}
    
<table  id="titlebar">
    <tr class="tableElmt">
        <td class="tableElmt" style="width: 25%;"><img src="{% static 'stravaleaderboard/images/omega.png' %}" id="omegaLogo" class="logo"></td>
        <td class="tableElmt" style="width: 50%;">
            <table class="tableElmt" style="width: 100%; box-shadow: none;">
                <tr class="tableElmt">
                    <td class="tableElmt"><h1 id="title">AROUND THE WORLD CHALLENGE</h1></td>
                </tr >
                <tr>
                    <td class="tableElmt"><h2>Sct. Omega Broderskap & Nordic Semiconductor</h2></td>

                </tr>
            </table>
        </td>
        <td class="tableElmt" style="width:25%"><img src="{% static 'stravaleaderboard/images/nordic.png' %}" id="nordicLogo" class="logo"></td>
    </tr>
</table>
<hr style="color: rgba(rgba(179, 179, 179, 0.726)); width: 70%; margin-top: 15px;">

    <table style="margin-top: 20px; border-radius: 20px;" id="resulttable">
        <tr style="border-radius: 20px;">
            <th>Club</th>
            <th>Points this week</th>
            <th>Distance this week</th>
            <th>Total Distance</th>
            <th></th>
        </tr>
    {% for club in club_name_list %}
        <tr> 
            <td style="background-color: white;">{{ club.name }}</td>
            {% for dist in club.distances_set.all %}
                {% if dist.week ==  current_week  %}
                <td style="background-color: white;">{{ dist.points }}</td>
                <td style="background-color: white;">{{ dist.distance }} km</td>

                {% endif %}
            {% endfor %}

            </td>
            <td style="background-color: white;">{{ club.total_distance }} km</td>
            <td style="background-color: white;"><a href="/stravaleaderboard/{{ club.name }}/" class="hover"> Weekly overview </a></td>
        </tr>
    {% endfor %}
    </table>
    <div id="progressbox" style="text-align: center; position: absolute; width: 100%; left: 0; margin-top: 15px;" >
        <progress max="40075" value="{{ totDist }}"></progress>
    </div>
    <div id="test" ><span>{{ totDist }}km of 29140km ({{ percent }}%) </span></div>
  

    <div class="box">
        <p class="botRight">Last Updated:  {{ deltaT }} minutes ago </p>
        <p class="botLeft"><a  href="{% url 'about' %}"class="hover"> Rules & information </a></p>    
    </div>
{% else %}
    <p>No clubs are available.</p>
{% endif %}