{% load leaderboard_extras %}
{% load static %}
<head>
    <title>StravaLeaderboard</title><link rel="preconnect" href="{https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <link rel="icon" 
      type="image/png" 
      href="{% static 'stravaleaderboard/images/SL.png' %}">
</head>
<link rel="stylesheet" type="text/css" href="{% static 'stravaleaderboard/style.css' %}">
{% if club_name_list %}
    
<table  id="titlebar">
    <tr class="tableElmt">
        <td class="tableElmt" style="width: 25%;"><img src="{% static 'stravaleaderboard/images/omega.png' %}" id="omegaLogo" class="logo"></td>
        <td class="tableElmt" style="width: 50%;">
            <table class="tableElmt" style="width: 100%; box-shadow: none;">
                <tr class="tableElmt">
                    <td class="tableElmt"><h1 id="title">#NordicSemiChallenge</h1></td>
                </tr >
                <tr>
                    <td class="tableElmt"><h2>Sct. Omega Broderskap & Nordic Semiconductor</h2></td>

                </tr>
            </table>
        </td>
        <td class="tableElmt" style="width:25%"><img src="{% static 'stravaleaderboard/images/nordic.png' %}" id="nordicLogo" class="logo"></td>
    </tr>
</table>
<hr style="color: rgba(rgba(179, 179, 179, 0.726)); width: 80%; margin-top: 15px;">

    <table style="margin-top: 20px; margin-bottom: 20px; border-radius: 20px; table-layout: fixed;" id="resulttable">
        <tr style="border-radius: 20px; background-color: #dfdfdf; width: 100%;" >
            <th style="width: 10%; text-align: center;">Club</th><!-- widths below need to add up to 60% -->
            <th class="distancemarker tooltip--left" data-tooltip="Trondheim" style="padding-left: 1; width: 2.1%;">Trondheim</th>
            <th class="distancemarker tooltip--left" data-tooltip="Oulu" style="padding-left: 1; width: 2%; border-left: 2px dotted black;">Oulu</th>
            <th class="distancemarker tooltip--left" data-tooltip="Stockholm" style="padding-left: 1; width: 2.8%; border-left: 2px dotted black;">Stockholm</th>
            <th class="distancemarker tooltip--left" data-tooltip="Krackow" style="padding-left: 1; width: 18.4%; border-left: 2px dotted black;">Krakow</th>
            <th class="distancemarker tooltip--left" data-tooltip="India" style="padding-left: 1; width: 12.5%; border-left: 2px dotted black;">India</th>
            <th class="distancemarker tooltip--left" data-tooltip="Phillipines" style="padding-left: 1; width: 3.1%; border-left: 2px dotted black;">Philippines</th>
            <th class="distancemarker tooltip--left" data-tooltip="Hong Kong" style="padding-left: 1; width: 2.2%; border-left: 2px dotted black;">Hong Kong</th>
            <th class="distancemarker tooltip--left" data-tooltip="Taipei" style="padding-left: 1; width: 1.9%; border-left: 2px dotted black;">Taipei</th>
            <th class="distancemarker tooltip--left" data-tooltip="Shanghai" style="padding-left: 1; width: 2.4%; border-left: 2px dotted black;">Shanghai</th>
            <th class="distancemarker tooltip--left" data-tooltip="South Korea" style="padding-left: 1; width: 3.1%; border-left: 2px dotted black;">South Korea</th>
            <th class="distancemarker tooltip--left" data-tooltip="Japan" style="padding-left: 1; width: 21.5%; border-left: 2px dotted black;">Japan</th>
            <th class="distancemarker tooltip--left" data-tooltip="Portland" style="padding-left: 1; width: 21.4; border-left: 2px dotted black;">Portland</th>
            <th class="distancemarker tooltip--left" data-tooltip="Bristol" style="padding-left: 1; width: 3.4%; border-left: 2px dotted black;">Bristol</th>
            <th class="distancemarker tooltip--left" data-tooltip="Oslo" style="padding-left: 1; width: 3%; border-left: 2px dotted black;">Oslo</th>
<!--             <th style="text-align: center;">Distance current week</th>
            <th style="text-align: center;">Total Distance</th>
            <th style="text-align: center;">Points</th>
 --><!--             <th></th> -->
        </tr>
    {% for club in club_name_list %}
        <tr> 
            <td style="background-color: white;" class="tooltip--bottom" data-tooltip="km: {{ club.total_distance }} | Points: {{ club.total_points }} ">{{ club.name }}</td>
            <td id="progresso" style="background-color: white;" colspan="13">
                <progress max="35276" value="{{ club.total_distance }}" ></progress>  
                <div id="test" ><span class="tooltip--triangle" data-tooltip="km this week: {{ club.currentdistance }}  |  Points this week: {{ club.currentpoints }} ">{{ club.total_distance }}km of 35276 ({{ club.percentage }}%) | Points: {{ club.total_points }} </span></div>
<!--                 <span class="markerspan" style="display: inline-block; width: 16%; "></span>
                <span class="markerspan" style="display: inline-block; width: 16%; border-left: 2px dotted black;"></span>
                <span class="markerspan" style="display: inline-block; width: 16%; border-left: 2px dotted black;"></span>
                <span class="markerspan" style="display: inline-block; width: 16%; border-left: 2px dotted black;"></span>
                <span class="markerspan" style="display: inline-block; width: 16%; border-left: 2px dotted black;"></span>
                <span class="markerspan" style="display: inline-block; width: 16%; border-left: 2px dotted black;"></span> -->
            </td> <!-- Remember to update theese when adding more-->
            
            {% if current_week == 0 %}
                    <td style="background-color: white;">0</td>
                    <td style="background-color: white;">0 km</td>
            {% endif %}

            </td>

            <td style="background-color: white;"></td>
<!--             {% for dist in club.distances_set.all %}
                {% if dist.week ==  current_week  %}
                    <td style="background-color: white;">{{ dist.distance }} km</td>
                {% endif %}
            {% endfor %}
            <td style="background-color: white;">{{ club.total_distance }} km</td>
            <td style="background-color: white;">{{ club.currentpoints }}</td>
 -->            <!--<td style="background-color: white;"><a href="/stravaleaderboard/{{ club.name }}/" class="hover"> Weekly overview </a></td> -->
        </tr>
    {% endfor %}
    <tr>
        <td style="background-color: white; width: 5%;">Total</td>
        <td id="progresso" style="background-color: white;" colspan="13">
            <progress max="35276" value="{{ totDist }}"></progress>  
            <div id="test" ><span>{{ totDist }}km of 35276km ({{ percent }}%) </span></div>
        </td> 
        <td style="background-color: white;"></td>
    </tr>
    </table>
    
  
    <!-- <p style="text-align: center;">Some current issues with the leaderboard are now explained under <a href=" {% url 'about' %}" class="hover">Rules & information</a>.<br> The correct distances will be updated regularly</p>
     --><div class="box">
        <p class="botRight">Last Updated:  {{ deltaT }} minutes ago </p>
        <!-- <p class="botLeft"><a  href="{% url 'about' %}"class="hover"> Rules & information </a></p>     -->
    </div>
{% else %}
    <p>No clubs are available.</p>
{% endif %}