{% load leaderboard_extras %}
{% load static %}
<head>
    <title>StravaLeaderboard</title><link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
</head>
<link rel="stylesheet" type="text/css" href="{% static 'stravaleaderboard/style.css' %}">
{% if club_name_list %}
    
<div style="width: 100%;">
<img src="/static/stravaleaderboard/images/omega.png" id="omegaLogo">
    <h1 id="title">Around the world challenge</h1>
    <h2>Nordic vs Omega</h2>
</div>

    <table>
        <tr>
            <th>Club</th>
            <th>Distance this week</th>
            <th>Total Distance</th>
            <th></th>
        </tr>
    {% for club in club_name_list %}
        <tr> 
            <td>{{ club.name }}</td>
            {% for dist in club.distances_set.all %}
                {% if dist.week ==  current_week  %}
                <td>{{ dist.distance }}</td>
                {% endif %}
            {% endfor %}

            </td>
            <td>{{ club.total_distance }}</td>
            <td><a href="/stravaleaderboard/{{ club.name }}/"> Weekly overview </a></td>
        </tr>
    {% endfor %}
    </table>
    <p id="return">Last Updated:  {{ deltaT }} minutes ago </p>
{% else %}
    <p>No clubs are available.</p>
{% endif %}