{%  load static %}
{% if club %}
<head>
    <title>{{ club.name }}</title>
    <link rel="icon" 
      type="image/png" 
      href="{% static 'stravaleaderboard/images/SL.png' %}">
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'stravaleaderboard/style.css' %}">
    <h1>Weekly results for {{ club.name }}</h1>
    <table id="resultstable">
        <tr>
            <th>Week</th>
            <th>Distance</th>
            <th>Points</th>
        </tr>
    {% for distance in club.distances_set.all|dictsort:"week" %}
        <tr>
            <td style="background-color: white;">Week {{  distance.week  }}</td>
            <td style="background-color: white;">{{ distance.distance }} km</td>
            <td style="background-color: white;">{{ distance.points }}</td>
        </tr>
                {% endfor %}
    </table>
    <p id="return"><a class="hover" href="{% url 'index' %}">Return</a></p>
{% else %}
    <p>No results are available.</p>
    <p id="return"><a href="/stravaleaderboard/">Return</a></p>
{% endif %}